.img_jokempo {
    width: 80px;
    padding: 0px 25px;
    cursor: pointer;
}

.resultado_tela {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.escolhe_opcao {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    position: relative;
}

.invisivel {
    display: none;
}

.play_icon {
    width: 200px;

}

.x_combat {
    width: 60px;
    padding: 0px 50px;
}

.button_play {
    border-radius: 8px;
    background-color: #ff0000;
    border: 2px solid black;
    transition-duration: 0.4s;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
      
.button_play:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.aparece_box {
    display: block;
}

.mostra_resultado {
    bottom: 200px;
}